## Import Necessary libraries

In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# load data

In [221]:
df=pd.read_csv("C:\\Users\\akhil\\Downloads\\Global-Superstore.csv")

In [223]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [229]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,02-05-2013,02-07-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11-05-2013,11-06-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [233]:
df.shape

(51290, 24)

In [235]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [237]:
df.dtypes

Row ID              int64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Postal Code       float64
Market             object
Region             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority     object
dtype: object

In [239]:
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [241]:
df_num=df.select_dtypes(include=[np.number])
df_cat=df.select_dtypes(include=['object'])

In [243]:
df_num.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [245]:
df_cat.describe(include='all')

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,1590,795,3,3636,1094,147,7,13,10292,3,17,3788,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,Medium
freq,14,135,130,30775,97,108,26518,915,2001,9994,11002,11117,35,31273,6152,227,29433

In [247]:
df_num.isnull().sum().sort_values(ascending=False)

Postal Code      41296
Row ID               0
Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
dtype: int64

In [249]:
df_cat.isnull().sum().sort_values(ascending=False)

Order ID          0
Country           0
Product Name      0
Sub-Category      0
Category          0
Product ID        0
Region            0
Market            0
State             0
Order Date        0
City              0
Segment           0
Customer Name     0
Customer ID       0
Ship Mode         0
Ship Date         0
Order Priority    0
dtype: int64

# Imputation of Numerical columns

In [252]:
for col in ["Postal Code"]:
    df_num[col].fillna(df_num[col].median(),inplace=True)

C:\Users\akhil\AppData\Local\Temp\ipykernel_13028\4520512.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_num[col].fillna(df_num[col].median(),inplace=True)

In [254]:
df_num.isnull().sum().sort_values(ascending=False)

Row ID           0
Postal Code      0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping Cost    0
dtype: int64

# Correlationship between numerical columns and numerical target

In [259]:
df_num_corr=df_num.corr()

In [261]:
df_num_corr["Sales"]

Row ID          -0.043889
Postal Code     -0.012869
Sales            1.000000
Quantity         0.313577
Discount        -0.086722
Profit           0.484918
Shipping Cost    0.768073
Name: Sales, dtype: float64

In [267]:
df_num_cols = []
df_num_cols.extend(df_num_corr[(df_num_corr["Sales"]>0.3)].index.values)
df_num_cols.extend(df_num_corr[(df_num_corr["Sales"]<-0.3) ].index.values)

In [269]:
df_num_cols

['Sales', 'Quantity', 'Profit', 'Shipping Cost']

# Correlationship between categorical columns and continous target variable using one way ANNOVA

In [276]:
from scipy.stats import f_oneway

In [278]:
df_cat['sp']=df_num['Sales']

In [280]:
groups = [df_cat['sp'][df_cat['Region'] == category] for category in df_cat['Region'].unique()]

# Perform ANOVA
f_stat, p_value = f_oneway(*groups)
print(f"F-statistic: {f_stat}, P-value: {p_value}")

F-statistic: 55.48438366881459, P-value: 7.28547664877952e-134

In [282]:
#This will store the names of categorical columns that are significantly associated with 'sp'.
c_list=[]
#This will store the names of columns that are not significantly associated with 'sp'.
nc_list=[]
for c1 in list(df_cat.columns):
    if c1=='sp':
        continue
    else:
        groups=[df_cat['sp'][df_cat[c1] == category] for category in df_cat[c1].unique()]
        f_stat, p_value = f_oneway(*groups)
        print(f"column : {c1}, F-statistic: {f_stat}, P-value: {p_value}")
        if p_value < 0.05:
            c_list.append(c1)
        else:
            nc_list.append(c1)

column : Order ID, F-statistic: 0.9549434499662576, P-value: 0.9998876246423096
column : Order Date, F-statistic: 1.0836379661457354, P-value: 0.015547216997578333
column : Ship Date, F-statistic: 1.0862723477473715, P-value: 0.012329595275315653
column : Ship Mode, F-statistic: 0.1526560527691346, P-value: 0.9280231614232922
column : Customer ID, F-statistic: 1.0283253165181494, P-value: 0.21486707133261737
column : Customer Name, F-statistic: 1.0033270824511336, P-value: 0.4673086036731087
column : Segment, F-statistic: 0.13863205044443952, P-value: 0.8705486136081234
column : City, F-statistic: 1.3229187405568366, P-value: 2.26270178341672e-33
column : State, F-statistic: 1.9821497637740442, P-value: 8.661653687079241e-71
column : Country, F-statistic: 8.580418547520855, P-value: 1.494973572691078e-172
column : Market, F-statistic: 123.4930001276269, P-value: 1.2042700444383753e-155
column : Region, F-statistic: 55.48438366881459, P-value: 7.28547664877952e-134
column : Product ID, F-statistic: 10.259434332830676, P-value: 0.0
column : Category, F-statistic: 2990.2763097157326, P-value: 0.0
column : Sub-Category, F-statistic: 861.6155179064889, P-value: 0.0
column : Product Name, F-statistic: 23.31723035963833, P-value: 0.0
column : Order Priority, F-statistic: 0.6606560098568574, P-value: 0.5761616863209242

In [283]:
c_list

['Order Date',
 'Ship Date',
 'City',
 'State',
 'Country',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name']

In [286]:
nc_list

['Order ID',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Order Priority']

In [288]:
df_cat1=df_cat[c_list]

In [290]:
df_cat1.columns

Index(['Order Date', 'Ship Date', 'City', 'State', 'Country', 'Market',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name'],
      dtype='object')

In [292]:
df_cat1.head()

,Order Date,Ship Date,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,7/31/2012,7/31/2012,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,02-05-2013,02-07-2013,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black"
2,10/17/2013,10/18/2013,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID"
3,1/28/2013,1/30/2013,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless"
4,11-05-2013,11-06-2013,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed"

# LabelEncoding

In [295]:
from sklearn.preprocessing import LabelEncoder

In [297]:
le=LabelEncoder()

In [299]:
df_cat1_e=df_cat1.apply(le.fit_transform)

In [301]:
df_cat1_e.head()

,Order Date,Ship Date,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,1281,1313,2290,703,139,6,6,8246,2,0,2750
1,64,78,3518,702,6,0,9,907,0,5,2525
2,563,582,497,820,6,0,9,10157,2,13,2502
3,483,506,375,145,47,4,3,10146,2,13,2414
4,636,658,857,270,110,1,0,10249,2,6,3158

In [303]:
df_cat1.shape

(51290, 11)

# Onehot encoding method1

In [306]:
df_encoded = pd.get_dummies(df_cat1, columns=df_cat1.columns)

In [307]:
df_encoded.shape

(51290, 21891)

# method2

In [311]:
from sklearn.preprocessing import OneHotEncoder

In [313]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

In [315]:
encoded_array = encoder.fit_transform(df_cat1)

encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(df_cat1.columns))

In [316]:
encoded_df.shape

(51290, 21891)

# Outlier treatment IQR

In [330]:
def remove_outliers_iqr(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)  # First quartile (25th percentile)
        Q3 = df[col].quantile(0.75)  # Third quartile (75th percentile)
        IQR = Q3 - Q1               # Interquartile range
        lower_bound = Q1 - 1.5 * IQR  # Lower bound
        upper_bound = Q3 + 1.5 * IQR  # Upper bound

        # Remove outliers
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    
    return df

In [346]:
columns_to_check = ['Row ID','Postal Code','Sales','Quantity','Discount','Profit','Shipping Cost']    

df_no_outliers = remove_outliers_iqr(df_num, columns_to_check)

print("Original DataFrame:")
print(df_num.shape)
print("\nDataFrame after Outlier Treatment:")
print(df_no_outliers.shape)

Original DataFrame:
(51290, 7)

DataFrame after Outlier Treatment:
(25882, 7)

In [348]:
encoded_df.shape

(51290, 21891)

In [350]:
df_no_outliers.shape

(25882, 7)

In [352]:
df_f_cat=encoded_df.loc[df_no_outliers.index,:]

# MinMaxScaler scales features to a fixed range, typically [0,1](but can be customized).

In [354]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [358]:
columns_to_scale =['Row ID','Postal Code','Sales','Quantity','Discount','Profit','Shipping Cost']

In [360]:
minmax_scaler = MinMaxScaler()
df_minmax_scaled = df_no_outliers.copy()
df_minmax_scaled[columns_to_scale] = minmax_scaler.fit_transform(df_no_outliers[columns_to_scale])

In [362]:
df_minmax_scaled.head()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
11866,0.183782,0.0,0.293173,0.000000,0.000000,0.735673,1.000000
11867,0.239934,0.0,0.429314,0.166667,0.000000,0.649534,1.000000
11868,0.569654,0.0,0.668531,0.333333,0.000000,0.516834,1.000000
11870,0.036246,0.0,0.295245,0.000000,0.003322,0.609120,1.000000
11871,0.407534,0.0,0.220067,0.333333,0.166113,0.426737,0.999629

# It transforms the data so that it has a mean of 0 and a standard deviation of 1.

In [365]:
standard_scaler = StandardScaler()
df_standard_scaled = df_no_outliers.copy()
df_standard_scaled[columns_to_scale] = standard_scaler.fit_transform(df_no_outliers[columns_to_scale])

In [367]:
df_standard_scaled.head()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
11866,-0.861868,0.0,1.372561,-1.092202,-0.603113,1.589405,3.269680
11867,-0.677319,0.0,2.474973,-0.462813,-0.603113,1.082556,3.269680
11868,0.406329,0.0,4.412057,0.166576,-0.603113,0.301735,3.269680
11870,-1.346757,0.0,1.389333,-1.092202,-0.592365,0.844755,3.269680
11871,-0.126492,0.0,0.780579,0.166576,-0.065700,-0.228401,3.268062

In [ ]:
final_df=pd.concat([df_standard_scaled,df_f_cat],axis=1)

In [ ]:
final_df.shape

In [215]:
final_df.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=286)